
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.modifier-NYK {
  width: 100%;
  height: 186.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-3uM {
    width: 52.3rem;
    height: 186.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #5041bc;
    border-radius: 4rem;
  }
  .divider-NAw {
    width: 25.1rem;
    height: 0.1rem;
    position: absolute;
    left: 2.2rem;
    top: 178.5rem;
    background-color: #d0d5dd;
  }
  .divider-tuy {
    width: 25.1rem;
    height: 0.1rem;
    position: absolute;
    left: 2.2rem;
    top: 11.4rem;
    background-color: #d0d5dd;
  }
  .group-1-DhM {
    border-radius: 2.4rem;
    width: 29.7rem;
    height: 4.8rem;
    position: absolute;
    left: 2.2rem;
    top: 14.1rem;

    .dashboard-ZFR {
      padding: 1.1rem 15.8rem 1.2rem 1.4rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 2.4rem;
      box-sizing: border-box;

      .toggle-5Uf {
        flex-shrink: 0;
        margin: 0rem 1.5rem 0.1rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .modifier-bhu {
        font-weight: 600;
        line-height: 1.2175;
        color: #5041bc;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
  }
  .rectangle-VoH {
    height: 186.2rem;
    position: absolute;
    left: 29.3rem;
    top: 0;
    background-color: #ffffff;
    border-radius: 4rem;
    width: 125.1rem;
  }
  .profil-sana-pqZ {
    left: 8.4rem;
    font-size: 1.6rem;
    font-family: Montserrat, 'Source Sans Pro';
    color: #ffffff;
    white-space: nowrap;
    width: 10.2rem;
    height: 2rem;
    position: absolute;
    top: 180.3rem;
    font-weight: 600;
    line-height: 1.2175;
  }
  .photo-8LT {
    width: 17.5rem;
    height: 21.8rem;
    position: absolute;
    left: 34.9rem;
    top: 11.4rem;

    .photo-rXM {
      white-space: nowrap;
      margin-bottom: 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
    }
    .form-PGP {
      box-sizing: border-box;
      padding: 7rem 1.1rem 6.3rem 1rem;
      width: 100%;
      height: 17.5rem;
      border: dashed 0.1rem #c1bbeb;
      background-color: #ffffff;
      border-radius: 0.5rem;

      .drag-and-drop-or-click-here-to-select-file-hXy {
        max-width: 15.4rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #a098ae;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
  .informations-dtudient-Nu1 {
    font-weight: 700;
    color: #5041bc;
    white-space: nowrap;
    height: 4.9rem;
    position: absolute;
    font-size: 4rem;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    width: 50rem;
    left: 34.9rem;
    top: 4.2rem;
  }
  .informations-du-parents-UBM {
    top: 126.5rem;
    font-size: 4rem;
    line-height: 1.2175;
    color: #5041bc;
    font-family: Montserrat, 'Source Sans Pro';
    width: 51rem;
    position: absolute;
    font-weight: 700;
    white-space: nowrap;
    height: 4.9rem;
    left: 34.9rem;
  }
  .first-name-mgF {
    position: absolute;
    left: 57.9rem;
    top: 11.4rem;
    width: 57.7rem;
    height: 8.5rem;

    .nom-et-prnom-Vs9 {
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .form-uvs {
      white-space: nowrap;
      border-radius: 0.5rem;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #c1bbeb;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 100%;
      line-height: 1.5;
      color: #a098ae;
    }
  }
  .first-name-zSX {
    position: absolute;
    left: 59rem;
    top: 133.2rem;
    width: 57.7rem;
    height: 8.5rem;

    .nom-et-prnom-XBZ {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .form-rUj {
      background-color: #ffffff;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 100%;
      color: #a098ae;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #c1bbeb;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .date-birth-8x3 {
    width: 57.7rem;
    height: 8.5rem;
    position: absolute;
    left: 57.9rem;
    top: 21.4rem;

    .date-et-lieu-de-naissance-56b {
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .form-oHV {
      height: 4.8rem;
      display: flex;
      align-items: center;
      width: 100%;

      .form-9MM {
        line-height: 1.5;
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin-right: 2.4rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        color: #a098ae;
        padding: 1.5rem 1.4rem 1.2rem 1.4rem;
        height: 100%;
        white-space: nowrap;
        border: solid 0.1rem #c1bbeb;
        width: 27.65rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .form-nfD {
        padding: 1.5rem 1.4rem 1.2rem 1.4rem;
        font-size: 1.4rem;
        line-height: 1.5;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        white-space: nowrap;
        border-radius: 0.5rem;
        width: 27.65rem;
        height: 100%;
        font-weight: 400;
        color: #a098ae;
        font-family: Poppins, 'Source Sans Pro';
        border: solid 0.1rem #c1bbeb;
      }
    }
  }
  .date-birth-eSX {
    width: 57.7rem;
    height: 8.5rem;
    position: absolute;
    left: 59rem;
    top: 143.6rem;

    .date-et-lieu-de-naissance-aLB {
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
    }
    .form-Wjd {
      width: 100%;
      height: 4.8rem;
      display: flex;
      align-items: center;

      .form-fsR {
        box-sizing: border-box;
        width: 27.65rem;
        line-height: 1.5;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 100%;
        white-space: nowrap;
        border: solid 0.1rem #c1bbeb;
        color: #a098ae;
        margin-right: 2.4rem;
        padding: 1.5rem 1.4rem 1.2rem 1.4rem;
        font-weight: 400;
      }
      .form-8FD {
        height: 100%;
        color: #a098ae;
        padding: 1.5rem 1.4rem 1.2rem 1.4rem;
        font-size: 1.4rem;
        white-space: nowrap;
        box-sizing: border-box;
        width: 27.65rem;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.5;
        border: solid 0.1rem #c1bbeb;
      }
    }
  }
  .email-naf {
    top: 31.4rem;
    width: 57.7rem;
    height: 8.5rem;
    position: absolute;
    left: 57.9rem;

    .email-vgs {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
    }
    .form-sc7 {
      box-sizing: border-box;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #c1bbeb;
      background-color: #ffffff;
      width: 100%;
      font-size: 1.4rem;
      color: #a098ae;
      white-space: nowrap;
      border-radius: 0.5rem;
    }
  }
  .phone-kfu {
    position: absolute;
    left: 57.9rem;
    top: 41.4rem;
    width: 57.7rem;
    height: 9.1rem;

    .tlephone-Hvj {
      margin-bottom: 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .form-ELB {
      font-family: Poppins, 'Source Sans Pro';
      background-color: #ffffff;
      box-sizing: border-box;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      white-space: nowrap;
      border: solid 0.1rem #c1bbeb;
      border-radius: 0.5rem;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      width: 100%;
    }
  }
  .services-Jaw {
    position: absolute;
    top: 63.7rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 7.7rem;
    height: 2.7rem;
    color: #303972;
    white-space: nowrap;
    left: 81.8rem;
    font-size: 1.8rem;
  }
  .phone-pJP {
    width: 57.7rem;
    height: 9.1rem;
    position: absolute;
    left: 59rem;
    top: 154rem;

    .tlephone-MZD {
      margin-bottom: 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .form-VvK {
      line-height: 1.5;
      color: #a098ae;
      border: solid 0.1rem #c1bbeb;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      font-weight: 400;
      white-space: nowrap;
      border-radius: 0.5rem;
      width: 100%;
      font-size: 1.4rem;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .address-z6P {
    width: 57.7rem;
    height: 9.1rem;
    position: absolute;
    left: 57.9rem;
    top: 52rem;

    .address-7wh {
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.6rem;
      font-size: 1.8rem;
    }
    .form-sR5 {
      line-height: 1.5;
      white-space: nowrap;
      border: solid 0.1rem #c1bbeb;
      background-color: #ffffff;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 100%;
      font-weight: 400;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      font-size: 1.4rem;
    }
  }
  .address-9dV {
    width: 57.7rem;
    height: 9.1rem;
    position: absolute;
    left: 59rem;
    top: 165rem;

    .address-Hjh {
      white-space: nowrap;
      margin-bottom: 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #303972;
      font-family: Poppins, 'Source Sans Pro';
    }
    .form-Rb1 {
      box-sizing: border-box;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #c1bbeb;
      padding: 1.5rem 1.4rem 1.2rem 1.4rem;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      background-color: #ffffff;
      border-radius: 0.5rem;
    }
  }
  .button-uFH {
    top: 178.3rem;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    width: 24rem;
    height: 6rem;
    position: absolute;
    left: 123.6rem;

    .draft-button-2qh {
      color: #4d44b5;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      border: solid 0.2rem #4d44b5;
      flex-shrink: 0;
      margin-right: 1.1rem;
      height: 100%;
      font-size: 1.8rem;
      line-height: 1.5;
      display: flex;
      align-items: center;
      width: 11.7rem;
      font-weight: 400;
      white-space: nowrap;
      box-sizing: border-box;
      border-radius: 4rem;
    }
    .submit-button-XGf {
      width: 11.2rem;
      font-weight: 400;
      display: flex;
      background-color: #4d44b5;
      font-size: 1.8rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      height: 100%;
      border-radius: 4rem;
    }
  }
  .group-237787-DQP {
    width: 57.7rem;
    height: 4.8rem;
    left: 57.9rem;
    display: flex;
    border: solid 0.1rem #c1bbeb;
    box-sizing: border-box;
    padding: 1.4rem 1.5rem 1.2rem 1.4rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: absolute;
    top: 67.9rem;

    .conseil-en-orientation-Hv3 {
      line-height: 1.5;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 35.8rem 0rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .rectangle-23998-1LF {
      margin-bottom: 0.2rem;
      width: 2rem;
      height: 2rem;
      border: solid 0.25rem #5041bc;
      box-sizing: border-box;
      border-radius: 0.7rem;
      flex-shrink: 0;
    }
  }
  .form-6Mh {
    border-radius: 0.5rem;
    width: 57.7rem;
    height: 5.7rem;
    position: absolute;
    left: 57.9rem;
    top: 73.9rem;

    .form-Rum {
      height: 4.8rem;
      top: 0;
      border: solid 0.1rem #c1bbeb;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 57.7rem;
      left: 0;
      position: absolute;
    }
    .traduction-wt7 {
      left: 1.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      width: 8.8rem;
      height: 2.1rem;
      position: absolute;
      top: 1.5rem;
      line-height: 1.5;
    }
    .rectangle-23999-rkB {
      top: 1.4rem;
      border: solid 0.25rem #5041bc;
      box-sizing: border-box;
      border-radius: 0.7rem;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 54.2rem;
    }
  }
  .form-xoD {
    align-items: center;
    box-sizing: border-box;
    padding: 1.4rem 1.5rem 1.2rem 1.4rem;
    position: absolute;
    top: 79.9rem;
    display: flex;
    border: solid 0.1rem #c1bbeb;
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 57.7rem;
    height: 4.8rem;
    left: 57.9rem;

    .logement-4rF {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 45.6rem 0rem 0rem;
    }
    .rectangle-24000-zV1 {
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 2rem;
      height: 2rem;
      border: solid 0.25rem #5041bc;
      box-sizing: border-box;
      border-radius: 0.7rem;
    }
  }
  .form-VAs {
    align-items: center;
    padding: 1.4rem 1.5rem 1.2rem 1.4rem;
    height: 4.8rem;
    left: 57.9rem;
    top: 86.2rem;
    border: solid 0.1rem #c1bbeb;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 57.7rem;
    position: absolute;
    display: flex;

    .inscription-et-suivi-bUo {
      margin: 0.1rem 38.7rem 0rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .rectangle-24001-Wrf {
      margin-bottom: 0.2rem;
      width: 2rem;
      height: 2rem;
      border: solid 0.25rem #5041bc;
      box-sizing: border-box;
      border-radius: 0.7rem;
      flex-shrink: 0;
    }
  }
  .form-1YX {
    box-sizing: border-box;
    height: 4.8rem;
    position: absolute;
    left: 57.9rem;
    display: flex;
    border: solid 0.1rem #c1bbeb;
    border-radius: 0.5rem;
    padding: 1.4rem 1.5rem 1.2rem 1.4rem;
    width: 57.7rem;
    top: 92.5rem;
    align-items: center;
    background-color: #ffffff;

    .visa-WVH {
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 49.7rem 0rem 0rem;
      font-size: 1.4rem;
    }
    .rectangle-24002-qXZ {
      margin-bottom: 0.2rem;
      width: 2rem;
      height: 2rem;
      border: solid 0.25rem #5041bc;
      box-sizing: border-box;
      border-radius: 0.7rem;
      flex-shrink: 0;
    }
  }
  .form-YB5 {
    box-sizing: border-box;
    padding: 1.4rem 1.4rem 1.2rem 1.4rem;
    width: 57.7rem;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 4.8rem;
    position: absolute;
    left: 57.8rem;
    top: 98.8rem;
    align-items: center;
    border: solid 0.1rem #c1bbeb;

    .etudes-ltranger-rSf {
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 39.8rem 0rem 0rem;
      font-size: 1.4rem;
    }
    .rectangle-24003-BE3 {
      box-sizing: border-box;
      border-radius: 0.7rem;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 2rem;
      height: 2rem;
      border: solid 0.25rem #5041bc;
    }
  }
  .destination-HH5 {
    width: 44.4rem;
    height: 4.8rem;
    position: absolute;
    left: 71.1rem;
    top: 105.1rem;
    border-radius: 0.5rem;

    .form-QsV {
      width: 100%;
      height: 100%;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a098ae;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1.5rem 1.077rem 1.2rem 1.077rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #c1bbeb;
      background-color: #ffffff;
    }
  }
  .filire-4x3 {
    width: 44.4rem;
    height: 4.8rem;
    position: absolute;
    left: 71.1rem;
    top: 111.4rem;
    border-radius: 0.5rem;

    .form-CoM {
      border: solid 0.1rem #c1bbeb;
      box-sizing: border-box;
      padding: 1.5rem 1.077rem 1.2rem 1.077rem;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 400;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #ffffff;
      height: 100%;
      line-height: 1.5;
      white-space: nowrap;
      border-radius: 0.5rem;
    }
  }
  .ville-HK1 {
    left: 71.1rem;
    top: 117.7rem;
    border-radius: 0.5rem;
    width: 44.4rem;
    height: 4.8rem;
    position: absolute;

    .form-d7y {
      width: 100%;
      font-weight: 400;
      color: #a098ae;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.5rem 1.077rem 1.2rem 1.077rem;
      line-height: 1.5;
      white-space: nowrap;
      border: solid 0.1rem #c1bbeb;
      border-radius: 0.5rem;
      height: 100%;
      font-size: 1.4rem;
    }
  }
  .home-JV1 {
    vertical-align: top;
    width: 2.8rem;
    height: 2.7rem;
    cursor: pointer;
    position: absolute;
    left: 4.8rem;
    top: 6rem;
    object-fit: contain;
  }
}
