<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img src="./assets/logo-blank.png" />
      </div>

      <div class="right">
        <p class="con">CONNEXION</p>
        <p class="ema">Email</p>
        <div class="emarec">
          <input type="text" placeholder="Email" id="email" class="textbox1" />
        </div>
        <p class="mod">Password</p>
        <div class="modrec">
          <input
            type="password"
            placeholder="Password"
            class="textbox2"
            id="password"
          />
        </div>
        <div class="error-field"></div>
        <button class="butcon" id="login">CONNEXION</button>
      </div>
    </div>
    <script src="./scriptes/login.js"></script>                           
  </body>
</html>
